body {
    height: 100vh;
    background-color: white;
    margin: 0;
}

.main-nav {
    background-color: rgb(50,50,50);
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;
    opacity: 95%;
}

.main-nav ul {
    list-style-type: none;
    text-align: center;
}

.main-nav li {
    display: inline;
    position: relative;
    top: 7px;
}

.main-nav a {
    text-decoration: none;
    font-size: 1em;
    color: lightgray;
    margin-right: 50px;
}

#apple-logo {
    position: relative;
    bottom: 2px;
    width: 18px;
}

#search {
    position: relative;
    bottom: 2px;
    width: 18px;
}

#bag {
    position: relative;
    bottom: 2px;
    width: 18px;
}

#hero {
    position: relative;
    text-align: center;
  }
  
#hero h2 {
    position: absolute;
    top: 43%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 4em;
}

#hero h3 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: black;
}

#hero p {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: rgb(158, 161, 168);
    font-size: 18px;
}

.stuff ul {
    position: absolute;
    top: 60%;
    left: 63%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

ul li {
    display: inline;
    margin-left: 25px;
}

.stuff a:link {
    text-decoration: none;
}

.container-fluid {
    background-color: rgb(251,251,251);
}

#ipad {
    width: 90%;
}


